
{% extends "base.html" %}
{% block title %}Home for {{user}}{% endblock %}

{% block content %}
<html>
    <head>
        <title> My Home</title>
    <a href="usercontrols">User Control Page</a></li>
    <a href="attractioncontrols">Attraction Control Page</a></li>
    <h1>Upcoming Trips</h1>
    <table>
      <tr bgcolor = "gray">
          <th>Trip</th><th>Col2</th><th>Col3</th>
      </tr>
      <tr>
      </tr>
      {% for trip in trips %}
        <tr>
          {% for field in trip %}
            <td>{{field}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
</html>
{% endblock %}
